:root {
  --dark-grey: #54656f;
  --light-grey: #f0f2f5;
  --blue-seen: #53bdeb;
  --primary-strong: #111b21;
  --primary: #3b4a54;
  --secondary: #667781;
  --app-background-stripe: #00c69b;
}
:root::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--light-grey);
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  display: grid;
  grid-template-columns: 420px auto;
  gap: 0;
  padding: 0;
  margin: 0;
}
.App::-webkit-scrollbar {
  display: none;
}
.sidebar {
  width: 420px;
  border-right: 1px solid rgb(182, 182, 182);
  height: 100vh;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
}
.list {
  text-decoration: none;
  list-style: none;
  color: none;
}
.link {
  text-decoration: none;
  list-style: none;
  color: none;
}
