.chat-panle {
  /* flex: 0.96; */
  width: 944px;
  justify-self: stretch;
}
.chat-panle::-webkit-scrollbar {
  display: none;
}
.chat-panel__header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 10px 16px;
}
.chat-panel__user-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}
.chat-panel__user-info-sub {
  display: flex;
  flex-direction: column;
}
.chat-panel__user-title {
  color: var(--primary-strong);
  font-size: 16px;
}
.chat-panel__user-last-seen {
  color: var(--secondary);
  font-size: 13px;
}
.chat-panel__body {
  padding: 10px 16px;
  width: 100%;
  background: url("./bg-chat.png");
  height: 80vh;
}
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #f0f2f5;
  /* background-color: dodgerblue; */
  display: flex;
  gap: 7px;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  height: auto;
}
.footer__input {
  flex: 1;
  background-color: #fff;
  height: 40px;
  padding: 5px 15px;
  border-radius: 8px;
}
.footer__attachment-button {
  transform: rotateZ(45deg) scaleX(-1);
  font-size: 25px !important;
}
.footer__emoji-button {
  font-size: 25px !important;
}
.footer__send-button {
  font-size: 25px !important;
}
.footer__mic-button {
  font-size: 25px !important;
}
.header__menu-button {
  width: 232px !important;
  height: 260px !important;
}
