.chat-panle {
  /* flex: 0.96; */
  width: 944px;
  justify-self: stretch;
}
.chat-panle::-webkit-scrollbar {
  display: none;
}
.chat-panel__header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 10px 16px;
}
.chat-panel__user-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}
.chat-panel__user-info-sub {
  display: flex;
  flex-direction: column;
}
.chat-panel__user-title {
  color: var(--primary-strong);
  font-size: 16px;
}
.chat-panel__user-last-seen {
  color: var(--secondary);
  font-size: 13px;
}
.chat-panel__body {
  padding: 10px 16px;
  width: 100%;
  background: url("./bg-chat.png");
  height: 80vh;
}
