.header-container {
  position: sticky;
}
.header {
  height: 55px;
  border-bottom: 1px solid rgb(226, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left-buttons > .MuiButtonBase-root {
  margin: 0 0 0 15px;
}
.header__menu-button {
  z-index: 5;
  width: 197px;
  height: 350px !important;
  font-size: 14.5px;
  font-weight: 400;
  font-style: normal;
  color: #565758 !important;
}
